body {
	background-color: gray;
	font-family: 'Gloria Hallelujah', cursive;
	color: white;
	background-image: url("../images/SleepyKitty.jpg");
	background-size: cover;
	
	
}
.grid {
    width: 700px;
    height: 600px;
	margin: 0 auto;
	background-image: url("../images/CatTrivia.jpg");
	background-size: cover;
    padding: 10px 50px 50px 50px;
    border-radius: 50px;
    border: 2px solid darkgray;
	box-shadow: 10px 15px 5px darkgray;
	
}


button {
	background-color: lightcoral;
    width: 250px;
    font-size: 20px;
    color: white;
    border: 1px solid #1d3c6a;
    border-radius: 50px;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    box-shadow: 5px 5px 5px black;
	transition: box-shadow 1s, transform 1s;
	outline: 0;
}

button.answerchoice {
	display: none;
}

button:hover {
	background-color: darkgray;
    box-shadow: 15px 15px 15px black;
    transition: box-shadow 1s, transform 1s; 
}

.answers div {
	margin: 0 auto;
}

img {
	height: 200px;
	width: auto;
}

h1, h2, h3, .question {
	text-align: center;
}